{% extends "proovitoo/base.html" %}
{% block content %}

<div class="detailheader">
<h1>Muuda äriühingut:</h1>
    <h3>{{ company.name }} - {{ company.reg_code }}</h3>
</div>
<hr>

<form  method="post" id="form-container">

    {% csrf_token %}
    {{ company.reg_code.as_hidden }}
    {{ company.create_date.as_hidden }}
    {{ company.name.as_hidden }}
<div class="details">
        {{formset_update_p.management_form}}
        {{formset_create_p.management_form}}
    <div id="physical" type="hidden" value="0"></div>

<h3>Füüsilised osanikud:</h3>
<table class="table table-bordered">
<tr>
    <th>Isikukood</th>
    <th>Eesnimi</th>
    <th>Perenimi</th>
    <th>Osakapital</th>

</tr>

        {% for form in formset_update_p %}

            {{ form.id_code.as_hidden }}
            {{ form.shareholder_first_name.as_hidden }}
            {{ form.shareholder_last_name.as_hidden }}
            {{ form.founder.as_hidden }}
            {{ form.physical_person.as_hidden }}
            {{ form.id.as_hidden }}
            <div class="update_p">
            <tr>
                <td>{{ form.id_code.value }}</td>
                <td>{{ form.shareholder_first_name.value }}</td>
                <td>{{ form.shareholder_last_name.value }}</td>
                <td>{{ form.capital }}</td>

            </tr>
            </div>
        {% endfor %}

</table>

        {% for form in formset_create_p %}
                <div class="detail-form-p">
                    {{ form.as_table }}
                </div>

        {% endfor %}



 </br>
    <button id="add-form_p" type="button">Lisa füüsiline isik</button>
    </div>
</div>

<hr>

<div class="details">
    <div id="juridical" hidden="True" value="0"></div>
    {{formset_update_j.management_form}}
    {{formset_create_j.management_form}}
    <h3>Juuridilised osanikud:</h3>

    <table class="table table-bordered">
        <tr>
            <th>Registrikood</th>
            <th>Ärinimi</th>
            <th>Osakapital</th>
        </tr>



        {% for form in formset_update_j %}
            {{ form.shareholder_company_reg_code.as_hidden }}
            {{ form.shareholder_company_name.as_hidden }}
            {{ form.founder.as_hidden }}
            {{ form.physical_person.as_hidden }}
            {{ form.id.as_hidden }}
            <div class="update_j">
            <tr>
                <td>{{ form.shareholder_company_reg_code.value }}</td>
                <td>{{ form.shareholder_company_name.value }}</td>
                <td>{{ form.capital }}</td>

            </tr>
            </div>
        {% endfor %}

    </table>



        {% for form in formset_create_j %}
            <div class="detail-form-j">
                {{form.as_table}}

            </div>

        {% endfor %}
    </br>
    <button id="add-form_j" type="button">Lisa juuridiline isik</button>


</div>

    <div class="p-4">
        <input type="submit" id="submitButton" hidden = True>
        <input class="btn btn-primary" style="width:100px"  type="button" onclick="validateCapital()" value="Salvesta">
        <a class="btn btn-secondary" style="width:100px" href="/detail={{ company.reg_code }}/">Tagasi</a>
    </div>
</form>





    {% load static %}
    <script src="{% static 'js/split_search_result.js' %}"></script>
    <script src="{% static 'js/hide_forms.js' %}"></script>

    <script src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@v2.3.7/dist/latest/bootstrap-autocomplete.js"></script>
    <script>
        $('.basicAutoComplete').autoComplete(
            {minLength: 1}
        );
        $('.dropdown-menu').css({'top': 'auto', 'left': 'auto'})
        console.log()
    </script>

    <script>
        let addButton_p = document.querySelector("#add-form_p")
        let totalForms = document.querySelector("#id_create_p-TOTAL_FORMS")

        addButton_p.addEventListener('click', addForm_p)

        function addForm_p(e){
            let pf = parseInt(document.getElementById('physical').getAttribute('value'))
            document.getElementsByClassName("detail-form-p")[pf].style.display = "block"
            pf++
            totalForms.setAttribute('value', pf.toString())
            document.getElementById('physical').setAttribute('value', pf.toString())
        }
    </script>

    <script>
        let addButton_j = document.querySelector("#add-form_j")
        let totalForms2 = document.querySelector("#id_create_j-TOTAL_FORMS")

        addButton_j.addEventListener('click', addForm_j)

        function addForm_j(e){
            let jf = parseInt(document.getElementById('juridical').getAttribute('value'))
            document.getElementsByClassName("detail-form-j")[jf].style.display = "block"
            jf++
            totalForms2.setAttribute('value', jf.toString())
            document.getElementById('juridical').setAttribute('value', jf.toString())

        }
    </script>



    <script>
    function validateCapital() {
        let capital_p = 0;
        let capital_j = 0;
        let capital_u_p = 0;
        let capital_u_j = 0;

        for (let i = 0; i < parseInt(document.getElementById('physical').getAttribute('value')); i++) {

            capital_p += parseInt(document.getElementById('id_create_p-' + i + '-capital').value)
        }

        capital_p = capital_p || 0

        for (let i = 0; i < parseInt(document.getElementById('juridical').getAttribute('value')); i++) {

            capital_j += parseInt(document.getElementById('id_create_j-' + i + '-capital').value)
        }

        capital_j = capital_j || 0

        let update_p_forms = document.getElementsByClassName("update_p")
            for (let i = 0; i < update_p_forms.length; i++) {

            capital_u_p += parseInt(document.getElementById('id_update_p-' + i + '-capital').value)

        }

            capital_u_p = capital_u_p || 0

        let update_j_forms = document.getElementsByClassName("update_j")
            for (let i = 0; i < update_j_forms.length; i++) {

            capital_u_j += parseInt(document.getElementById('id_update_j-' + i + '-capital').value)

        }

            capital_u_p = capital_u_p || 0

        let capital = capital_j + capital_p + capital_u_p + capital_u_j

        if (capital < 2500) {
            Swal.fire({
                icon: 'error',
                title: 'Tähelepanu! Osakapital peab olema vähemalt 2500 EUR',
                text: 'Puudu on ' + (2500 - capital).toString() + ' EUR'
            })
        } else {
            try {
            let p_forms = document.getElementsByClassName("detail-form-p")
            p_forms = Array.from(p_forms);
            for (let i = 0; i < 5; i++) {
                if (p_forms[i].getAttribute('style') == "display: none;") {
                    p_forms[i].remove()}
            }

            let j_forms = document.getElementsByClassName("detail-form-j")
            j_forms = Array.from(j_forms);
            for (let i = 0; i < 5; i++) {
                if (j_forms[i].getAttribute('style') == "display: none;") {
                    j_forms[i].remove()}
            }}
            catch {}
            document.getElementById('submitButton').click();
        }
    }
</script>

{% endblock content %}