{% extends "proovitoo/base.html" %}
{% block content %}

<div class="detailheader">
<h1>Muuda äriühingut:</h1>
    <h3>{{ company.name }} - {{ company.reg_code }}</h3>
</div>

<hr>

<form  method="post" id="form-container">
    {% csrf_token %}
    {{ company.reg_code.as_hidden }}
    {{ company.create_date.as_hidden }}
    {{ company.name.as_hidden }}

    <div class="details">
        {{formset_update_p.management_form}}
        {{formset_create_p.management_form}}
        <div id="physical" type="hidden" value="0"></div>

        <h3>Füüsilised osanikud:</h3>

        {% if formset_update_p.total_form_count > 0 %}           
            <table class="table table-bordered">
                <tr>
                    <th>Isikukood</th>
                    <th>Eesnimi</th>
                    <th>Perenimi</th>
                    <th>Osakapital</th>
                </tr>

                {% for form in formset_update_p %}       
                    {{ form.id_code.as_hidden }}
                    {{ form.shareholder_first_name.as_hidden }}
                    {{ form.shareholder_last_name.as_hidden }}
                    {{ form.founder.as_hidden }}
                    {{ form.physical_person.as_hidden }}
                    {{ form.id.as_hidden }}
                    <div class="update_p">
                        <tr>
                            <td>{{ form.id_code.value }}</td>
                            <td>{{ form.shareholder_first_name.value }}</td>
                            <td>{{ form.shareholder_last_name.value }}</td>
                            <td>{{ form.capital }}</td>     
                        </tr>
                    </div>
                {% endfor %}
            </table>
        {% endif %}
    
        <div class="row m-4"></div>
        {% for form in formset_create_p %}
            <div class="detail-form-p">
                {{ form.as_table }}
            </div>
        {% endfor %}
    
        </br>
    
        <button id="add-form_p" class="btn btn-primary btn-sm" style="width: 90% height: 90%" type="button"> <i class="bi bi-plus-square"></i></button>
        <button id="remove_p" class="btn btn-danger btn-sm m-1" style="width: 90% height: 90%" type="button"> <i class="bi bi-x-square"></i></button>
    </div>
    
    <hr>
    
    <div class="details">
        <div id="juridical" hidden="True" value="0"></div>
        {{formset_update_j.management_form}}
        {{formset_create_j.management_form}}
        <h3>Juuridilised osanikud:</h3>
        {% if formset_update_j.total_form_count > 0 %}
            <table class="table table-bordered">
                <tr>
                    <th>Registrikood</th>
                    <th>Ärinimi</th>
                    <th>Osakapital</th>
                </tr>
    
                {% for form in formset_update_j %}
                    {{ form.shareholder_company_reg_code.as_hidden }}
                    {{ form.shareholder_company_name.as_hidden }}
                    {{ form.founder.as_hidden }}
                    {{ form.physical_person.as_hidden }}
                    {{ form.id.as_hidden }}
                    <div class="update_j">
                        <tr>
                            <td>{{ form.shareholder_company_reg_code.value }}</td>
                            <td>{{ form.shareholder_company_name.value }}</td>
                            <td>{{ form.capital }}</td>
                        </tr>
                    </div>
                {% endfor %}    
            </table>    
        {% endif %}
    
        <div class="row m-4"></div>
    
        {% for form in formset_create_j %}
            <div class="detail-form-j">
                {{form.as_table}}
            </div>
    
        {% endfor %}
        
        </br>
        
        <button id="add-form_j" class="btn btn-primary btn-sm" type="button"><i class="bi bi-plus-square"></i></button>
        <button id="remove_j" class="btn btn-danger btn-sm m-1" style="width: 90% height: 90%" type="button"> <i class="bi bi-x-square"></i></button>
    </div>
        
    <div class="p-4">
        <input type="submit" id="submitButton" hidden = True>
        <input class="btn btn-primary" style="width:100px"  type="button" onclick="validate_update()" value="Salvesta">
        <a class="btn btn-secondary" style="width:100px" href="/detail={{ company.reg_code }}/">Tagasi</a>
    </div>
</form>
    
{% load static %}
<script src="{% static 'js/split_search_result.js' %}"></script>
<script src="{% static 'js/hide_forms.js' %}"></script>
<script src="{% static 'js/control_forms.js' %}"></script>
<script src="{% static 'js/validate_update.js' %}"></script>
<script src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@v2.3.7/dist/latest/bootstrap-autocomplete.js"></script>
<script>
    $('.basicAutoComplete').autoComplete({
        minLength: 1,
        noResultsText:"Ei leidnud ühtegi vastet"});
        $('.dropdown-menu').css({'top': 'auto', 'left': 'auto'})
        console.log()
</script>

{% endblock content %}
