.detailheader {
    background: #bebebe;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    padding: 1.5rem;
}
.details {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    padding: 1.5rem;
}

.newDetails {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    padding: 1.5rem;
}